<h1>Choose the Year Group</h1>
<!-- <div class="year-block"> -->
  <!-- <%=link_to 'Year_1',subjects_path(year:1),class:"year-block"%> -->
<!-- </div> -->
  <%=link_to 'Year_1',subjects_path(year_group:1),class:"btny btn-info"%>
  <%=link_to 'Year_1',subjects_path(year_group:2),class:"btny btn-info"%>
  <%=link_to 'Year_1',subjects_path(year_group:3),class:"btny btn-info"%>
